.instructions {
  position: absolute; /* or absolute */
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

.inst {
  /*overflow-y: scroll;*/
  height:400px;
  font-family: "Calibri";
  font-size:20px;
}
.beginTaskButton {
  text-align:center;
}

