.instructions {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 60vh;

}

.inst {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  font-family: "Calibri";
  font-size:20px;
  /*font-size:calc(100% + vw);*/
}
.beginTaskButton {
  width: 50%;
  text-align:center;
}

