.instructions {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 60vh;
  display: table;
  text-align: center;

}

.inst {
  height: auto;
  width: auto;
  /*text-align: center;*/
  overflow-y: scroll;
  font-family: "Calibri";
  font-size:20px;
}

.beginTaskButton {
  width: 30%;
  margin: auto;
  text-align:center;
  display: table-cell;
  vertical-align: bottom;

}
