
.studyword {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-size:calc(100% + 8vw);
}

pre {border: 0; background-color: transparent;}
