<div *ngIf="isTest==1" style="text-align:center">
  <p>
    Training Instructions
  </p>
  <div>
    <button (click)="startStudy()" >Study</button>
  </div>
</div>


<div *ngIf="isTest==2 || isTest==3" style="text-align:center">
  <p>
    Test Instructions Feedback
  </p>
  <div>
    <button (click)="startTest1()">Begin</button>
  </div>
</div>

<div *ngIf="isTest==4" style="text-align:center">
  <p>
    Test Instructions No Feedback
  </p>
  <div>
    <button (click)="startTest2()">Begin</button>
  </div>
</div>

<div *ngIf="isTest==5" style="text-align:center">
  <p>
    Finished
  </p>
  <div>
    <button (click)="endExperiment()">End</button>
  </div>
</div>
