<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="fullscreenDiv" *ngIf="loaded == true">
  <!--{{wordPairs}}-->
  <!--{{jwt}}-->
  <!--{{userId}}-->
  {{testPhase}}
  <instructions *ngIf="instructions" [(testPhase)]="testPhase" [(instructions)]="instructions" (testPhaseChange)="updateTestPhase()"></instructions>

  <div *ngIf="!instructions">
    <study-phase *ngIf="testPhase == 2" [wordPairs]="wordPairs" [(testPhase)]="testPhase" [(instructions)]="instructions" (testPhaseChange)="updateTestPhase()"></study-phase>
    <test-phase-feed-back *ngIf="testPhase == 3 || testPhase == 4" [wordPairs]="wordPairs" [(testPhase)]="testPhase" [(instructions)]="instructions" (testPhaseChange)="updateTestPhase()"></test-phase-feed-back>
    <test-phase-no-feed-back *ngIf="testPhase == 6" [wordPairs]="wordPairs" [(testPhase)]="testPhase" [(instructions)]="instructions" (testPhaseChange)="updateTestPhase()"></test-phase-no-feed-back>
  </div>

  <questions *ngIf="testPhase==7" [(testPhase)]="testPhase"></questions>

</div>
</body>
</html>
